.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.big_title {
    font-size: x-large;
}
.quote {
    width: 80%;
    margin: 0 auto;
    font-weight: 600;
    font-size: xx-large;
    color: rgb(5, 78, 141);
}

.quote_container {
    width: 95%;
    margin: 0 auto;
    font-weight: bold;
    font-size: 20px;
    color: rgb(6, 148, 42);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: "Madimi One",sans-serif;
}

.category {
    text-transform: capitalize;
    color: rgba(10, 10, 10, 0.904);
    margin-right: 6px;
}

.quote::before {
    content: open-quote;
}

.quote::after {
    content: close-quote;
}

.author {
    color: rgb(3, 4, 97);
}

@media  screen and (max-width:768px) {
    .quote_container {
        font-size: 16px;
    }
    .quote{
        width: 95%;
        font-size:x-large;
    }
}